<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>projeto</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div>
        <nav>
          <a href="/">Início</a>
          <a href="/dashboard">Painel</a>
          {{#if loggedIn}}
          <a href="/" id="logout">Sair</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>