{{#if posts.length}}
<section>
  <h2>Meus posts</h2>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> dashboard-post-info post}}      
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<section>
  <h3>Nada aqui</h3>
</section>
{{/if}}

<button type="submit"><a href="/dashboard/new">Novo post</a></button>
