<form class="login-form">
  <h2>Login</h2>
  <div>
    <label for="username-login">Usuário:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Senha:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<form class="signup-form">
  <h2>Cadastro</h2>
  <p><i><b>A senha deve conter de 6 a 10 caractéres</b></i></p>
  <div>
    <label for="username-signup">Usuário:</label>
    <input type="text" id="username-signup" />
  </div>  
  <div>
    <label for="password-signup">Senha:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Cadastro</button>
  </div>
</form>
<script src="/javascript/login.js"></script>